In [1]:
from geopy.geocoders import Nominatim

In [2]:
import pandas as pd

In [3]:
train_location = pd.read_csv('./data/train_for_map.csv')

In [4]:
train_location.shape

(49352, 13)

In [5]:
train_location.head()

,Unnamed: 0,bathrooms,bedrooms,created,display_address,interest_level,latitude,longitude,listing_id,building_id,manager_id,price,street_address
0,10,1.5,3,2016-06-24 07:54:24,Metropolitan Avenue,medium,40.7145,-73.9425,7211212,53a5b119ba8f7b61d4e010512e0dfc85,5ba989232d0489da1b5f2c45f6688adc,3000,792 Metropolitan Avenue
1,10000,1.0,2,2016-06-12 12:19:27,Columbus Avenue,low,40.7947,-73.9667,7150865,c5c8a357cba207596b04d1afd1e4f130,7533621a882f71e25173b27e3139d83d,5465,808 Columbus Avenue
2,100004,1.0,1,2016-04-17 03:26:41,W 13 Street,high,40.7388,-74.0018,6887163,c3ba40552e2120b0acfc3cb5730bb2aa,d9039c43983f6e564b1482b273bd7b01,2850,241 W 13 Street
3,100007,1.0,1,2016-04-18 02:22:02,East 49th Street,low,40.7539,-73.9677,6888711,28d9ad350afeaab8027513a3e52ac8d5,1067e078446a7897d2da493d2f741316,3275,333 East 49th Street
4,100013,1.0,4,2016-04-28 01:32:41,West 143rd Street,low,40.8241,-73.9493,6934781,0,98e13ad4b495b9613cef886d79a6291f,3350,500 West 143rd Street

In [6]:
train_location.latitude.describe()

count    49352.000000
mean        40.741545
std          0.638535
min          0.000000
25%         40.728300
50%         40.751800
75%         40.774300
max         44.883500
Name: latitude, dtype: float64

In [7]:
train_location.longitude.describe()

count    49352.000000
mean       -73.955716
std          1.177912
min       -118.271000
25%        -73.991700
50%        -73.977900
75%        -73.954800
max          0.000000
Name: longitude, dtype: float64

In [19]:
train_location.ix[1698:1700,:]

,Unnamed: 0,bathrooms,bedrooms,created,display_address,interest_level,latitude,longitude,listing_id,building_id,manager_id,price,street_address
1698,103826,1.0,2,2016-04-09 01:28:45,East 89th Street,low,40.7800,-73.9513,6846414,0,c84e5e5c5b9330be0486bcb52a6ef92e,2700,234 East 89th Street
1699,103833,1.0,0,2016-04-13 02:49:47,W 57th St.,low,40.7709,-73.9917,6864460,ec447453d3b8033e14a7b54ba1e13e02,9e4ef9d8a24f407bf0b355b27f0d9965,2585,601 W 57th St.
1700,103834,1.0,1,2016-04-12 01:40:38,East 89th Street,low,40.7826,-73.9572,6857285,1e1ea00bd80f0e919da2bb087c334d54,faa547b5ebcb4b15c858433ce95edf49,3095,40 East 89th Street

In [8]:
lat_lon_list = train_location[['latitude','longitude']].values.tolist()

In [9]:
len(lat_lon_list)

49352

In [10]:
lat_lon_list[:5]

[[40.7145, -73.9425],
 [40.7947, -73.9667],
 [40.7388, -74.0018],
 [40.7539, -73.9677],
 [40.8241, -73.9493]]

In [11]:
test_df = train_location.loc[:5,['latitude','longitude']]

In [12]:
test_df

   latitude  longitude
0   40.7145   -73.9425
1   40.7947   -73.9667
2   40.7388   -74.0018
3   40.7539   -73.9677
4   40.8241   -73.9493
5   40.7429   -74.0028

In [43]:
return_location = test_df.apply(lambda x: geolocator.reverse([x[0],x[1]]).raw['address']['postcode'], axis=1)

In [45]:
return_location = test_df.apply(lambda x: geolocator.reverse([x[0],x[1]]).raw['address'], axis=1)

In [49]:
zipcode = return_location.map(lambda x: x['postcode'])

In [50]:
zipcode

0    11211
1    10025
2    10011
3    10022
4    10031
5    10011
dtype: object

In [12]:
test_lat_lon = lat_lon_list[0]

In [13]:
test_lat_lon

[40.7145, -73.9425]

In [14]:
geolocator = Nominatim()

In [15]:
location = geolocator.reverse(test_lat_lon)

In [16]:
location.address

u'792, Metropolitan Avenue, Williamsburg, Kings County, NYC, New York, 11211, United States of America'

In [17]:
location.raw['address']['postcode']

u'11211'

In [ ]:
zipcode_list = []
for coord in lat_lon_list:
    location = geolocator.reverse(coord)
    zipcode_list.append(location.raw['address']['postcode'])
    print location.address